{% extends 'base.html.twig' %}

{% block title %}nouveau{% endblock %}

{% block body %}

    {{ include('personne/_form.html.twig') }}

    <a href="{{ path('personne_index') }}">back to list</a>
{% endblock %}
